.fruits{
    border: #1f261b 2px solid;
    padding: 20px;
    margin: 20px;
    background-color:crimson;
    text-align: center;
    color: beige;
}
.cars{
    border:chocolate 2px solid;
    padding: 20px;
    margin: 20px;
    background-color: cyan;
    text-align: end;
    color:cornflowerblue;
}
.FRUITS{
    border:crimson 2px solid;
    margin:2px;
    padding:10px;
    background-color:darkgreen ;
    text-align: center;
    color: darkmagenta;
}
img{
    width: 20%;
}